.profile__person-name {
  max-width: 450px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
